button {
    width: 300px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    border-color: $white;
    font-weight: bold;
    background: $primary;
    transition: background 0.3s;
    
    &:hover {
        background: lighten($color: $primary, $amount: 10);
        transition: background 0.3s;
    }   
}